@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconde as setas em navegadores WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esconde as setas no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}