/* src/index.css */

/* 1. ADIÇÃO PARA O react-resizable */
@import 'react-resizable/css/styles.css';

/* 2. Seu código original do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconde as setas em navegadores WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esconde as setas no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Seu keyframe de animação */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Move o conteúdo 50% para a esquerda. 
       Como o conteúdo será duplicado, isso cria um loop perfeito.
    */
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  /* A duração (10s) controla a velocidade. 
     Ajuste este valor se quiser mais rápido ou mais devagar.
  */
  animation: scroll-left 10s linear infinite;
  
  /* Garante que o span animado não quebre linha */
  display: inline-block;
  white-space: nowrap;
}